@{

  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Add a new Machine</h1>

<div class="divClass">
  @using (Html.BeginForm())

  {
    <p><span class="left olive2">@Html.Label("MachineName")</span> <span class="right olive2">@Html.TextBoxFor(model =>
      model.MachineName, new { required = "required"})</span></p>
    <br> <br>

    <p><span class="left olive2"> @Html.Label("MachineYear")</span> <span class="right olive2">@Html.TextBoxFor(model =>
      model.MachineYear, new { required = "required"})</span></p>
    <br> <br>

    @Html.Label("Select Engineers")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Add new machine" class="btn btn-default" required="true" />

  }
  <p>@Html.ActionLink("Show all machines", "Index")</p>