@{

  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<div class="divClass">
  <span class="left">
    Machine Name:
  </span> <span class="right">@Model.MachineName</span>
  <br>
  <span class="left">
    Machine Year:
  </span> <span class="right">@Model.MachineYear</span>
  <br><br><br>


  @if (@Model.JoinEntities.Count == 0)
  {
    <p>This Machine does not have any engineers</p>
  }
  else
  {
    <h5>Engineers belonging to Machine <span class="olive">@Model.MachineName</span> are:</h5>
    <br>
    <ul class="no-bullets">
      @foreach (var join in Model.JoinEntities)
      {
        <h5><span class="olive">@join.Engineer.EngineerName</span></h5>
        @using (Html.BeginForm("DeleteEngineer", "Machines"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" class = "btn btn-default"  value="Remove Machine from Engg" />
        }
        <br>
      }
    </ul>
  }
</div>
<br><br>
<p>@Html.ActionLink("Back to Machines", "Index")</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>