@{

  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit Machine: <span class="olive">@Html.DisplayFor(model => model.MachineName)</span></h4>
<br>
<div class="divClass">
  @using (Html.BeginForm())

  {
    @Html.HiddenFor(model => model.MachineId)
    <br>
    <p><span class="left olive2">@Html.Label("Machine Name")</span> <span class="right olive2">
        @Html.EditorFor(model => model.MachineName)</span></p>
    <br>

    <p><span class="left olive2">@Html.Label("Machine Year")</span> <span class="right olive2">
        @Html.EditorFor(model => model.MachineYear)</span></p>
    <br><br><br>
    <input type="submit" class="btn btn-default" value="Save Edits" />
}

  <br><br><br>
  <p>@Html.ActionLink("Back to list of Machines", "Index")</p>
</div>