@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Machines</h1>

@if (@Model.Count == 0)
{
  <h4>No Machines have been added yet!</h4>
}

@if (@Model.Count != 0)
{
  <div class="divClass">
    <p><span class="left olive2">Machine Name</span>   <span class="right olive2">Machine Year</span></p>
    <br>
    @foreach (Machine machine in Model)

    {
      <span class="left">@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineYear })</span> <span
    class="right">
        @machine.MachineYear </span>
      <br>
    }
  </div>
}
<br>
<br>

<h3>Display machine that are complete</h3>

@foreach (Machine machine in Model)
{
  @Html.DisplayFor(model => machine.MachineName)
  <br>
  @Html.DisplayFor(model => machine.MachineYear)
}

<br>
<br>

<p>@Html.ActionLink("Add new machine", "Create")</p>