@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add a new Engineer!</h1>

<div class="divClass">
  @using (Html.BeginForm())
  {
    <p><span class="left olive2">@Html.Label("EngineerName")</span> <span class="right olive2">@Html.TextBoxFor(model =>
      model.EngineerName, new { required = "required"})</span></p>
    <br> <br>
    <p><span class="left olive2">@Html.Label("EngineerTitle")</span> <span class="right olive2">@Html.TextBoxFor(model =>
      model.EngineerTitle, new { required = "required"})</span></p>
    <br><br>
    <p><span class="left olive2">@Html.Label("Eligible Machines")</span> <span class="right olive2">
    @Html.DropDownList("MachineId", null, string.Empty)</span></p>
    <br> <br> <br>

    <input type="submit" value="Add new engineer" required="true" />
  }
</div>

<br>
<br>
<p>@Html.ActionLink("Show all Engineers", "Index")</p>