@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Engineers</h1>

@if (@Model.Count == 0)
{
  <h4>No Engineers have been added yet!</h4>
}

@if (@Model.Count != 0)
{
  <div class="divClass">
    <p><span class="left olive2">Engineer Name</span> <span class="right olive2">ID</span></p>
    <br>
    @foreach (Engineer engineer in Model)
    {
      <span class="left">@Html.ActionLink($"{engineer.EngineerName}", "Details", new { id = engineer.EngineerId })</span> <span
    class="right">
        @engineer.EngineerId </span>
      <br>
    }
  </div>
}
<br>
<br>

<p>@Html.ActionLink("Add new Engineer", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>